@model FashionShop.Models.subImage

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Quantri/Views/Shared/_Layout.cshtml";
}

<h1 class="title mb-5">Bạn có muốn xoá ảnh sản phẩm ?</h1>
<div>
    <dl class="dl-horizontal">
        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Model.imgsrc" style="max-width:150px"/>
        </dd>

        <dt>
           Sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.productName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
